In [2]:
import pandas as pd

In [ ]:
gsalary = pd.read_excel('globalsalary.xlsm', sheet_name='salary data')
print(gsalary)

In [4]:
gsalary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221 entries, 0 to 220
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         221 non-null    object
 1   Continent       221 non-null    object
 2   Lowest Salary   221 non-null    float64
 3   Average Salary  221 non-null    float64
 4   Highest Salary  221 non-null    float64
dtypes: float64(3), object(2)
memory usage: 8.8+ KB

In [ ]:
print(gsalary.isna().sum())

In [ ]:
print(gsalary.head())
print(gsalary.tail())

Cleaning the DataSet

In [7]:
gsalary['Lowest Salary'] = gsalary['Lowest Salary'].astype(int)
gsalary['Average Salary'] = gsalary['Average Salary'].astype(int)
gsalary['Highest Salary'] = gsalary['Highest Salary'].astype(int)

In [8]:
gsalary = gsalary[~(gsalary['Lowest Salary'] == 0) & ~(gsalary['Average Salary'] == 0) & ~(gsalary['Highest Salary'] == 0)]

Adjusting the salaries for Brazilian Reais

In [9]:
cambio = 5.39

gsalary['Lowest Salary'] = gsalary['Lowest Salary'] * cambio

In [10]:
gsalary['Average Salary'] = gsalary['Average Salary'] * cambio

In [11]:
gsalary['Highest Salary'] = gsalary['Highest Salary'] * cambio

Adding the Brazilian Real symbol (R$)

In [12]:
gsalary['Lowest Salary'] = gsalary['Lowest Salary'].astype(int)
gsalary['Average Salary'] = gsalary['Average Salary'].astype(int)
gsalary['Highest Salary'] = gsalary['Highest Salary'].astype(int)

In [13]:
gsalary['Lowest Salary'] = 'R$' + gsalary['Lowest Salary'].astype(str)

In [14]:
gsalary['Average Salary'] = 'R$' + gsalary['Average Salary'].astype(str)

In [15]:
gsalary['Highest Salary'] = 'R$' + gsalary['Highest Salary'].astype(str)

Exporting the Data Frame to Excel

In [16]:
gsalary.to_excel('globalsalaryinR$.xlsx', index=False)